<option value="" selected="selected">Select Hero</option>
<option>Abaddon</option>
<option>Alchemist</option>
<option>Ancient Apparition</option>
<option>Anti-Mage</option>
<option>Axe</option>
<option>Bane</option>
<option>Batrider</option>
<option>Beastmaster</option>
<option>Bloodseeker</option>
<option>Bounty Hunter</option>
<option>Brewmaster</option>
<option>Bristleback</option>
<option>Broodmother</option>
<option>Centaur Warrunner</option>
<option>Chaos Knight</option>
<option>Chen</option>
<option>Clinkz</option>
<option>Clockwerk</option>
<option>Crystal Maiden</option>
<option>Dark Seer</option>
<option>Dazzle</option>
<option>Death Prophet</option>
<option>Disruptor</option>
<option>Doom</option>
<option>Dragon Knight</option>
<option>Drow Ranger</option>
<option>Earth Spirit</option>
<option>Earthshaker</option>
<option>Elder Titan</option>
<option>Ember Spirit</option>
<option>Enchantress</option>
<option>Enigma</option>
<option>Faceless Void</option>
<option>Gyrocopter</option>
<option>Huskar</option>
<option>Invoker</option>
<option>Io</option>
<option>Jakiro</option>
<option>Juggernaut</option>
<option>Keeper of the Light</option>
<option>Kunkka</option>
<option>Legion Commander</option>
<option>Leshrac</option>
<option>Lich</option>
<option>Lifestealer</option>
<option>Lina</option>
<option>Lion</option>
<option>Lone Druid</option>
<option>Luna</option>
<option>Lycan</option>
<option>Magnus</option>
<option>Medusa</option>
<option>Meepo</option>
<option>Mirana</option>
<option>Morphling</option>
<option>Naga Siren</option>
<option>Nature's Prophet</option>
<option>Necrophos</option>
<option>Night Stalker</option>
<option>Nyx Assassin</option>
<option>Ogre Magi</option>
<option>Omniknight</option>
<option>Outworld Devourer</option>
<option>Phantom Assassin</option>
<option>Phantom Lancer</option>
<option>Phoenix</option>
<option>Puck</option>
<option>Pudge</option>
<option>Pugna</option>
<option>Queen of Pain</option>
<option>Razor</option>
<option>Riki</option>
<option>Rubick</option>
<option>Sand King</option>
<option>Shadow Demon</option>
<option>Shadow Fiend</option>
<option>Shadow Shaman</option>
<option>Silencer</option>
<option>Skywrath Mage</option>
<option>Slardar</option>
<option>Slark</option>
<option>Sniper</option>
<option>Spectre</option>
<option>Spirit Breaker</option>
<option>Storm Spirit</option>
<option>Sven</option>
<option>Templar Assassin</option>
<option>Terrorblade</option>
<option>Tidehunter</option>
<option>Timbersaw</option>
<option>Tinker</option>
<option>Tiny</option>
<option>Treant Protector</option>
<option>Troll Warlord</option>
<option>Tusk</option>
<option>Undying</option>
<option>Ursa</option>
<option>Vengeful Spirit</option>
<option>Venomancer</option>
<option>Viper</option>
<option>Visage</option>
<option>Warlock</option>
<option>Weaver</option>
<option>Windranger</option>
<option>Witch Doctor</option>
<option>Wraith King</option>
<option>Zeus</option>